/Binary/kimai/build/
/Binary/kimai/docu/
/Binary/kimai/test/
/Binary/kimai/README.md
/Binary/kimai/.gitignore
/Binary/kimai/core/updater.php
/Binary/kimai/core/temporary/
/Binary/kimai/core/templates/
/Binary/kimai/core/skins/
/Binary/kimai/core/shellscripts/
/Binary/kimai/core/libraries/
/Binary/kimai/core/language/
/Binary/kimai/core/kimaiversion.php
/Binary/kimai/core/js/
/Binary/kimai/core/installer/styles.css
/Binary/kimai/core/installer/steps/db_error.php
/Binary/kimai/core/installer/steps/70_write_conf.php
/Binary/kimai/core/installer/steps/40_permissions.php
/Binary/kimai/core/installer/steps/28_timezone.php
/Binary/kimai/core/installer/steps/25_system_requirements.php
/Binary/kimai/core/installer/steps/20_gpl_en.php
/Binary/kimai/core/installer/steps/20_gpl_de.php
/Binary/kimai/core/installer/steps/20_gpl.php
/Binary/kimai/core/installer/steps/10_language.php
/Binary/kimai/core/installer/processor.php
/Binary/kimai/core/installer/installscript.js
/Binary/kimai/core/installer/installPermissions.php
/Binary/kimai/core/installer/install.php
/Binary/kimai/core/installer/index.php
/Binary/kimai/core/installer/grfx/
/Binary/kimai/core/index.php
/Binary/kimai/core/includes/
/Binary/kimai/core/How_To_Install.txt
/Binary/kimai/core/grfx/
/Binary/kimai/core/favicon.ico
/Binary/kimai/core/extensions/
/Binary/kimai/core/error.php
/Binary/kimai/core/db_restore.php
/Binary/kimai/core/css/
/Binary/kimai/core/core/
/Binary/kimai/core/COPYING
/Binary/kimai/core/config/
/Binary/kimai/core/Bitte_Lesen.txt
